@font-face {
    font-family: 'Pacifico';
    src: url(assets/fonts/Pacifico.ttf) format('truetype');
}

@font-face {
    font-family: 'Cuprum';
    src: url(assets/fonts/Cuprum-Regular.ttf) format('truetype');
}
